<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<p>Список книг</p>
<!--<p th:text=${books} />-->
<!--<p th:text="|Hello, ${name}!|" />-->
<table>
    <thead>
    <tr>
        <th> Title </th>
        <th> Author </th>
        <th> Pages </th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${books.empty}">
        <td colspan="2"> No Books Available </td>
    </tr>
    <tr th:each="book : ${books}">
        <td><span th:text="${book.name}"> Title </span></td>
        <td><span th:text="${book.author}"> Author </span></td>
        <td><span th:text="${book.pages}"> Pages </span></td>
    </tr>
    </tbody>
</table>
</body>
</html>